*{
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}
.messenger {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.spaceTopBar{
  width: 10px;
}
.topbarright{
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.topbarchat{
  width: 100%;
  height: 9%;
  background-color: white;
  display: flex;
  border-bottom: 1px groove gray ;
  align-items: center;
  display: flex;
  
}
.iconcall{
  width: 25px;
  height: 25px;
  padding: 7px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 2px;
}
.iconcall:hover{
  background-color: whitesmoke;
}
.chatMenu {
  height: 100%;
  width: 24%;
  display: flex;
  flex-direction: column;
  border-right: 1px groove mistyrose;
  background-color: var(--WA100);
}
.spacemenuleft{
  width: 100%;
  height: 349px;
}
.iconleftmenu{
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
  filter: brightness(0) invert(1);
   -webkit-filter: brightness(0) invert(1);
   margin-top: 10px;

}
.divProfile{
  width: 100%;
  height:31%;
  text-align: center;
  
}
.divimg2{

  text-align: center;
  width: 100%;
  height: 55px;

  
}
.divimg2:hover{
  background-color: gray;
}
.divimg2 ul {
  background: #ffffff;
  width: 250px;
  padding: 0;
  list-style-type: none;
  text-align: left;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(186, 186, 186);
}
.divimg2 li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #282828;
  padding: 0 1em;
  
  
}

.divimg2 a {
  text-decoration: none;
  color: #0C0A0A;
  
  display: block;
  
  
}
.divimg2 a:hover {
  
  color: blue;
  
}
.divimg2 li:hover{
  background-color: rgb(245, 243, 243);
}
.divimg2 ul li {
  position: relative;
 }

.divimg2 .sub-menu{
  position: absolute;
  left: 54px;
  top:550px;
  display: none;
}
.divimg2 li {
  position: relative;
}
.divimg2:hover .sub-menu {
  display: flex;
  flex-direction: column;
}
.divimg{

  text-align: center;
  width: 100%;
  height: 55px;

  
}

.divimg:hover{
  background-color: gray;
}
.topMenu{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
 
  align-items: center;
}
.searchbar2 {
  width: 70%;
  height: 35px;

  background-color: whitesmoke;
  border-radius: 3px;
  display: flex;
  
  align-items: center;
  border-bottom: 1px solid gray;
}
.iconuser{
  width: 20px;
  height: 20px;
  padding: 10px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 2px ;
  
}
.iconsmile{
  margin-left: 15px;
  width: 30px;
  height: 30px;
  padding: 5px;
 
  border-radius: 2px;
  object-fit: cover;
  cursor: pointer;
}
.iconsmile:hover{
  background-color: whitesmoke;
}
.icongroup{
  width: 20px;
  height: 20px;
  padding: 10px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 2px;
  
}
.icongroup:hover{
  background-color: whitesmoke;
}

.iconuser:hover{
  background-color: whitesmoke;
}
.barImg {
  width: 50px;
  height: 50px;
  margin-top: 40% ;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  
  
}

.chatMenuInput {
  width: 100%;
  border: none;
  height: 100%;
  font-size: 17px;
  background-color: whitesmoke;
}
.chatMenuInput:focus{
  outline: none;
}
.searchIcon {
  font-size: 25px !important;
  margin-left: 10px;
}

.chatBox {
  height: 100%;
  width: 72%;
  background-color: darkgray;
 
  display: flex;
  flex-direction: column;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  
  position: relative;
  
  align-items: center;

  height: 91%;
}

.chatBoxTop {
  height: 83%;
  overflow-y: scroll;
  
  width: 100%;
}
.menuNhom{
  display: flex;
  margin-top: 0px;
  align-items: center;
  width: 100%;
  height: 5%;
  border-bottom: 1px groove rgb(252, 252, 252);
}
.nhom{
  width: 20%;
  height: 100%;
  text-align: center;
  align-items: center;
  object-fit: cover;
  cursor: pointer;
}
.nhom a{
  text-decoration: none;
  padding-top: 6px;
  display: block;
  width: 100%;
  height: 78%;
}
.all a{
  text-decoration: none;
  padding-top: 6px;
  display: block;
  width: 100%;
  height: 78%;
}
.all{
  width: 20%;
  height: 100%;
  text-align: center;
  align-items: center;
  object-fit: cover;
  cursor: pointer;
}
.nhom :hover{
  color: blue;
  border-bottom: 2px groove blue;
}
.all :hover{
  color: blue;
  border-bottom: 2px groove blue;
}
.inputmess{
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-top: 1px groove rgb(249, 249, 249);
  width: 100%;
  height: 55%;
}
.topBarBox{
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
}
.chatBoxBottom {
 
  height: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  background-color: white;
  
}

.chatMessageInput {
  width: 90%;
  height: 100%;
  border: 0px;
  border: none;
  font-size: 20px;
}
.chatMessageInput:focus{
  outline: none;
}
.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}
.chatOnline{
  height: 100%;
  width: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  text-align: center;
  background-color: #1877f2;
 }
 .chatMenuWrapper{
  display: flex;
  overflow-y: scroll;
  
  flex-direction: column;
  width: 100%;
  height: 85%;
 }

.conversation{
 width: 100%;
 height:40px;
 align-items: center;
 margin:0 auto;
 text-align: center;
}
.chatMenuWrapper2{
  width: 100%;
  height: 10%;
  display: flex;
 
  justify-content: space-evenly;
}

.topBar{width: 100%;}
.bottomBar{width: 100%;}
.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}
.topbarImg{
  text-align: center;
}
.topbarImg ul {
  background: #ffffff;
  width: 250px;
  padding: 0;
  list-style-type: none;
  text-align: left;
  box-shadow: 2px 2px 2px 2px rgb(186, 186, 186);
  border-radius: 10px;
}
.topbarImg li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #282828;
  padding: 0 1em;
  
  
}

.topbarImg a {
  text-decoration: none;
  color: #0C0A0A;
  
  display: block;
  
  
}
.topbarImg a:hover {
  
  color: blue;
  
}
.topbarImg li:hover{
  background-color: rgb(245, 243, 243);
}
.topbarImg ul li {
  position: relative;
 }
.sub-menu {
  display: none;
  position: absolute;
}
.topbarImg .sub-menu{
  position: absolute;
  left: 54px;
  top: 20px;
  display: none;
}
.topbarImg li {
  position: relative;
}
.topbarImg:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

.sub-menu li {
  margin-left: 0 !important;
}

/*==Menu cấp 3==*/
.sub-menu > ul {
  display: none !important;
}
.myModal{

  position: relative;
  display: none ;

}
.divimg:hover .myModal{
  display: none ;
  
  
}

